@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "О проекте";
}

<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="h3">@ViewBag.Title</h1>
            Рады видеть Вас на нашем популярном сайте Акции и Скидки Супермаркетов Казахстана! Здесь были собраны лучшие акционные предложения городов и областей Казахстана и вся полезная информация о существующих скидках в известных торговых сетях.
            Ежедневные покупки и поиски недорогого товара занимают много времени, поэтому мы позаботились о сборе самой актуальной информации по распродажам города и разместили ее на одном интернет ресурсе. Экономия на ежедневных тратах в супермаркете поможет сберечь немалые деньги и, например, пустить их на другие полезные покупки.
            Снижая цены на товар, супермаркеты и представители торговых компаний преследуют вполне логичную цель – привлекают как можно больше покупателей. Придя в магазин, мало кто уходит домой с пустыми руками и помимо акционных товаров в потребительскую корзину укладывается и другая необходимая продукция.
            Миф о том, что при акциях и распродажах происходит сбыт некачественных товаров или продуктов с небольшим оставшимся сроком эксплуатации не соответствует действительности. Ни одна торговая компания не будет рисковать завоеванным имиджем, поддаваясь на однодневную акцию и значительные скидки. Крупные и малые предприятия борются за каждого покупателя и стараются стимулировать продажи при помощи экономных акционных распродаж высококачественного товара.
            К тому же такие мероприятия часто устраивают для презентации совершенно новой продукции, с которой производитель желает сразу завоевать часть рынка. Неизвестный бренд всего за один день заявляет о себе огромному количеству потенциальных покупателей, от чего в выигрыше остаются и те, и другие.
            Вся собранная на сайте информация будет полезна не только экономным хозяйкам, но и всей остальной аудитории практичных людей. Поверьте, наш труд будет оценен в полной мере, когда на сайте Вы найдете то, что искали.
            Примечание: изображение товара на картинке может отличаться от существующей продукции в супермаркетах. Важно знать, что торговые сети оставляют за собой право применять акционные скидки и распродажи не во всех магазинах.
        </div>
    </div>
</section>
